body {
    font-family: "Rajdhani", sans-serif;
    color: #32515c;
}

h1 {
    margin-bottom: 1px;
    font-size: 40px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

li {
    text-transform: capitalize;
}

.weather-wrapper {
    max-width: 600px;
    margin: 40px auto;
}

.weather_app {
    max-width: 600px;
    margin: 40px auto;
    padding: 30px;
    background-image: url(../images/blue-sky.jpg);
    background-size: cover;
    border: 1px solid r#d3b7;
    
    border-radius: 10px;
    box-shadow: 5px 5px 5px 2px rgb(157, 157, 157);
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 8px;
    float: left;
    height: 50px;
    width: 50px;
}

.weather-temperature strong {
    color: #49060e;
    font-size: 50px;
    line-height: 1;
}
.weather-temperature .units {
    position: relative;
    font-size: 20px;
    top: -16px;
}

.button {
    padding: 6px;
    border: 1px solid #a9b8d7;
    border-radius: 7px;
    background-color: #a4b7dd;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(157, 157, 157);
}

.weather-temperature .active {
    color: #32515c;
    cursor: default;
    text-decoration: none;
}

.weather-temperature .active:hover {
    text-decoration: none;
}

.weather-temperature .tempF {
    text-decoration: none;
}

.weather-forecast {
    margin-top: 50px;
    text-align: center;
}

.weather-forecast-date {
    font-size: 20px;
    font-weight: 500;
}

.weather-forecast-temperature {
    font-size: 20px;
}

.weather-forecast-weather-max {
    font-weight: 600;
}